Package: com.schlub51.textmenuplus
Name: TextMenuPlus
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Compact vertical edit menu for iOS 16 rootless.
Maintainer: schlub51
Author: schlub51
Section: Tweaks
Depends: firmware (>= 16.0), mobilesubstrate
Depiction: https://schlub51.github.io/repo/depictions/textmenuplus/depiction.html
SileoDepiction: https://schlub51.github.io/repo/depictions/textmenuplus/sileo.json
Icon: https://schlub51.github.io/repo/depictions/textmenuplus/icon.png
